
body {
    background: rgb(72,78,119);
    background: linear-gradient(90deg, rgba(72,78,119,1) 0%, rgba(115,72,119,1) 100%);
    color: #EDEDED;
    font-family: 'Tilt Neon', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

.para {
    width: 62%;
    font-size: 19px;
}

.sidenav {
    background-color: #EDEDED;
}

.navbar {
    background-color: #EDEDED;
    border-radius: 10px;
}

.sidenav a {
    text-decoration: none;
    /* background-color: #EDEDED; */
}

#cta_link {
    color: #DCBDFB !important;
}

h2 {
    font-size: 1.9em;
    color: #DCBDFB;
}

#home {
    color: #8256D0;
}