*{
    margin-left: 5%;
}

#dropdown-menu  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 5px;
    padding: 5px;
}

.survey-buttons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
}
